<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <!-- 引入jQuery-->
    <script src="http://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <!-- 引入BootStrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <script type="text/javascript", src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript", src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <title>Home Page</title>
</head>
<body>
<div class="container">
    <div class="row">
        <table class="table table-hover table-responsive">
            <caption style="margin-left: 40%;font-size: larger">学生信息及成绩表</caption>
            <thead>
                <tr>
                    <th>用户名</th>
                    <th>年龄</th>
                    <th>分数</th>
                    <th>年级</th>
                    <th>性别</th>
                    <th>创建时间</th>
                    <th>是否删除</th>
                </tr>
            </thead>
        <tbody>
            {% for i in stu %}
                {% if i.isDelete %}
                <tr class="alert-danger">
                <td>{{ i.sName }}</td>
                <td>{{ i.sAge }}</td>
                <td>{{ i.sScore }}</td>
                <td>{{ i.sGrade }}</td>
                    {% if i.sGender %}
                    <td>男</td>
                    {% else %}
                    <td>女</td>
                    {% endif %}
                <td>{{ i.createTime }}</td>
                <td style="color: #c10b0b">已删除</td>
                {% else %}
                <td>{{ i.sName }}</td>
                <td>{{ i.sAge }}</td>
                <td>{{ i.sScore }}</td>
                <td>{{ i.sGrade }}</td>
                    {% if i.sGender %}
                    <td>男</td>
                    {% else %}
                    <td>女</td>
                    {% endif %}
                <td>{{ i.createTime }}</td>
                <td>未删除</td>
                {% endif %}
                </tr>
            {% endfor %}
        </tbody>
        </table>
    <div class="container" style="border: dotted;padding-left: 40%">
        <a href="{% url 'addstudent' %}">
        <input type="button" value="添加学生" style="margin: auto;">
        </a>
        <a href="{% url 'updatestudent' %}">
        <input type="button" value="更新信息" style="margin: auto">
        </a>
    </div>
    </div>
</div>
</body>
</html>