<!DOCTYPE html>
{% load staticfiles %}
{% include 'head.html' %}
        <!--/. NAV TOP  -->
{% include 'nav.html' %}
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
			 <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            项目列表 <small>For your projects management</small>
                        </h1>
                    </div>
                </div>
                <nav class="nav navbar-default">
                    <div class="container-fluid">
                        <form class="navbar-form navbar-right">
                            <div class="form-group">
                                <input class="form-control" placeholder="请输入项目名称">
                            </div>
                            <button type="submit" class="btn btn-primary">查 询</button>
                            <button type="button" class="btn btn-primary">添加项目</button>
                        </form>
                    </div>
                </nav>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                所有项目
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="interface_case_table">
                                        <thead>
                                        <tr>
                                            <th>项目编号</th>
                                            <th>项目名称</th>
                                            <th>项目描述</th>
                                            <th>创建时间</th>
                                            <th>更新时间</th>
                                        </tr>
                                        <tr>
                                            <td>01</td>
                                            <td>M3.音信无痕</td>
                                            <td>移动端消息隐写和解密以及屏摄水印功能</td>
                                            <td>2019-03-28 12:00</td>
                                            <td>2019-03-29 22:55</td>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!--end page-inner-->
    </div>
    <!--end page-wrapper-->
{% include 'footer.html' %}